
body {
    /* background-repeat: no-repeat; */
    background-color: #375DAB;
    background-image: url("image/bulbasaur.png"), url("image/charmander.png"), url("image/squirtle.png");
    background-repeat: no-repeat;
    background-position-x: left, center, right;
    background-position-y: center;
    background-size: auto;
    width: 101%;
    height: 750px;
  }

section {
    /* padding: 20px; */
    background-color: rgb(246,214,36);
    margin: 25px;
}

#search {
  background-color: hsl(48, 100%, 67%);
  padding: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  /* margin-top: 100px; */
  opacity: 80%;
}

#searchBtn {
  background-color: #375DAB;
}

#pokeStats {
  height: 400px;
  opacity: 80%;
  margin-left: 20px;
}

#pokeCard {
  height: 400px;
  opacity: 80%;
  margin-right: 20px;
}


.footer {
  height: 10px;
  background-color: hsl(48, 100%, 67%);
  /* position: fixed; */
  width: 100%;
  padding: 55px;
  padding-top: 30px;
  /* margin-top: 130px; */
  margin-bottom: 15px;

}